

#accesorios {
    background-color: #D7A49D;
}

#accesorios2 {
    background-color: #a7746e;
}

body {
    background-color: #D7A49D;
}

.sr-only{
    color: rgb(18, 251, 173);
}

#busqueda {
    background-color: rgb(221, 250, 241);
}

.d-block, .img-fluid{
    border-style: inset;
    border-radius: 0.5rem;
    border-width: 0.5rem;
    border-color: antiquewhite;
}