
.Redes {
display: flex;
align-items: center;
justify-content: center;
padding-top: 5rem;

}


.button{
    margin-bottom:1rem;
    margin-left: 12rem;
    width: 10rem;
    height: 2rem;
    padding: 0.1rem 1rem 0.2rem;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border: 2px solid #ccc;
    position: relative;
    font-family: Lucida Sans, Helvetica, sans-serif;
    font-weight: 800;
    color: #f3eeed;
    text-shadow: rgba(10, 10, 10, 0.5) 1px 2px 2px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden;

}

.aqua{
    background-color: rgba(10 10 10);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(4 63 124 / 80%)), to(rgba(4 118 205 / 90%)));
    border-top-color: #063f88;
    border-right-color: #5890bf;
    border-bottom-color: #4f93ca;
    border-left-color: #768fa5;	
    -webkit-box-shadow: rgba(66, 140, 240, 0.5) 0px 10px 16px;
    -moz-box-shadow: rgba(66, 140, 240, 0.5) 0px 10px 16px; 
  }

  .button .glare {
    position: absolute;
    top: 0;
    left: 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    height: 1px;
    width: 142px;
    padding: 8px 0;
    background-color: rgba(255, 255, 255, 0.25);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
  }


.Seguinos{
    color: #0d0000;
    font-size: xx-large;
    font-style: italic;
    background-color: #D7A49D;
    margin-left: 2rem;
}


.facebook {
    color: #3b5998;
    font-size: xx-large;

}

.twitter {
    color: #55acee;
    font-size: xx-large;
}

.google {
    color: #dd4b39;
    font-size: xx-large;
}

.instagram {
    color: #ac2bac;
    font-size: xx-large;
}

.linkedin {
    color: #0082ca;
    font-size: xx-large;
}

.github {
    color: #333333;
    font-size: xx-large;
}

