

#hombre {
    background-color: #D7A49D;
}

#hombre2 {
    background-color: rgb(221, 250, 241);
}

body {
    background-color: #D7A49D;
}

.sr-only{
    color: rgb(18, 251, 173);
}

#busqueda {
    background-color: rgb(221, 250, 241);
}
