

#mujer {
    background-color: #D7A49D;
}

#mujer2 {
    background-color: #a7746e;
}

body {
    background-color: #D7A49D;
}

.sr-only{
    color: rgb(18, 251, 173);
}

#busqueda {
    background-color: rgb(221, 250, 241);
}
